$a: #19B5A5;
$b: #FF6933;
$c: #5E5473;
$d: #F0C505;
$e: #D04C5E;
$f: #60A589;
$g: #FDC938;
$h: #B6BB1B;
$i: #C3066C;
$j: #F43D51;

$colour-bar-1: $j;
$colour-bar-2: $c;
$colour-bar-3: $f;
$colour-bar-4: $b;
$colour-bar-5: $d;
