<!DOCTYPE html>
<html>
<head lang="en">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="language" http-equiv="Content-Language" content="en" />
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1"><meta charset="UTF-8">

    <title>veloptuous</title>
    <link href='https://fonts.googleapis.com/css?family=Montserrat:400,700|Lato:100,200,300,400,500,600,700,800,900' rel='stylesheet' type='text/css'>
    <script src="https://use.fontawesome.com/4ef7989b22.js"></script>
    <link rel="stylesheet" type="text/css" href="/styles.css">
</head>
<body>
<script>
    window.veloptuous = {};
</script>

<div id="app"></div>
<script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?libraries=geometry,places&key=AIzaSyBLu1jY8pcaCFHB9D8NRxt0ANXSf9nDv-0"></script>
<script src="/bundle.js"></script>
</body>
</html>
